---
layout: main
isHome: true
---
<div id="site-wrap">
    {% include hero.html %}

    <main id="main-body" class="container relative">
        <div class="row">
            <article id="main-content" class="col-lg-9">
                {% include sitecontent.html %}
                {% comment %}
                <div id="icon-image">
                    <span class="up">↑</span>
                    <!-- <span class="up"><i class="fas fa-arrow-up"></i></span> -->
                    <span class="dq">DQ</span>
                </div>
                {% endcomment %}
            </article>
            <aside id="action-sidebar" class="col-lg-3">
                <div class="inner-sidebar">
                    {% include sidebar.html %}
                </div>
            </aside>
        </div>
    </main>
</div>