<header id="hero">
    {% if site.lang == "en" %}
        {% capture link_fr %}{{ site.translations['fr']['site']['canonical'] }}{% endcapture %}
        <a href="{{ link_fr }}" class="lang-picker">{% t nav.lang_fr %}</a>
        {% elsif site.lang == "fr" %}
        {% capture link_en %}{{ site.translations['en']['site']['canonical'] }}{% endcapture %}
        <a href="{{ link_en }}" class="lang-picker">{% t nav.lang_en %}</a>
    {% endif %}
    <div id="hero--title">
        <h1 id="site-title">{% t website.name %}</h1>
        <h2 id="site-subtitle">{% t website.subtitle %}</h2>
    </div>
    <div id="hero--content">
        <div id="hero--content-inner">
            <div></div>
            <div>
                <p>{% t hero.struggling %}</p>
                <p>{% t hero.policy %}</p>
                <p>{% t hero.grants %}</p>
            </div>
            <p class="hero--callout">{% t hero.you %}</p>
        </div>
    </div>
</header>
{% comment %}
    <div id="hero--banner">
        <a href="#heading-urgent"></a>
    </div>
{% endcomment %}
<div id="hero--cta">
    <sidebar-buttons></sidebar-buttons>
</div>
