<header id="hero">
    {% if site.lang == "en" %}
        <a href="/fr" class="lang-picker">{% t nav.lang_fr %}</a>
        {% elsif site.lang == "fr" %}
        <a href="/" class="lang-picker">{% t nav.lang_en %}</a>
    {% endif %}
    <div id="hero--title">
        <h1 id="site-title">{% t website.name %}</h1>
        <h2 id="site-subtitle">{% t website.subtitle %}</h2>
        <p class="hero--callout"></p>
    </div>
    <div id="hero--content">
        <div id="hero--content-inner">

            <p class="hero--callout">{% t hero.struggling %}</p>
            <div>
                <div class="responsive-video-container">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/{% t hero.videoId %}?modestbranding=1&rel=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                {% comment %}
                    <p>{% t hero.struggling %}</p>
                    <p>{% t hero.policy %}</p>
                    <p>{% t hero.grants %}</p>
                {% endcomment %}
            </div>
            <p class="hero--callout">
                {% t hero.you %}<br>
                {% t hero.learnMore %}
                <i class="fas fa-chevron-down"></i>
            </p>
        </div>
    </div>
</header>
{% comment %}
    <div id="hero--banner">
        <a href="#heading-urgent"></a>
    </div>
{% endcomment %}
<div id="hero--cta">
    <sidebar-buttons></sidebar-buttons>
</div>
<div class="container">
<a id="latest-news"
   href="https://www.thecharityreport.com/features/calls-to-increase-the-disbursement-quota-growing-louder-foundations-are-hoarding-wealth/"
   target="_blank"
   rel="noopener">
    <strong>{% t hero.latestNews %}</strong>
    Calls to increase the disbursement quota growing louder, <em>The Charity Report</em>
</a>
</div>