<h2>{% t sidebar.learn-more.heading %}</h2>
<ul class="quicklinks">
    <li><a href="#heading-urgent" class="btn btn--block btn--primary">{% t sidebar.learn-more.urgent %}</a></li>
    <li><a href="#heading-about" class="btn btn--block btn--primary">{% t sidebar.learn-more.about %}</a></li>
    <li><a href="#heading-gap" class="btn btn--block btn--primary">{% t sidebar.learn-more.gap %}</a></li>
    <li><a href="#heading-nonprofit" class="btn btn--block btn--primary">{% t sidebar.learn-more.nonprofit %}</a></li>
    <li><a href="#heading-foundations" class="btn btn--block btn--primary">{% t sidebar.learn-more.foundations %}</a></li>
    <li><a href="#heading-dq" class="btn btn--block btn--primary">{% t sidebar.learn-more.dq %}</a></li>
    <li><a href="#heading-10pct" class="btn btn--block btn--primary">{% t sidebar.learn-more.10pct %}</a></li>
    <li><a href="#heading-press" class="btn btn--block btn--primary">{% t sidebar.learn-more.press %}</a></li>
</ul>