<h2>{% t sidebar.heading %}</h2>
<p>{% t sidebar.subheading %}</p>
<div class="sidebar-buttons">
    <button class="btn btn--block btn--blue">
        {% t sidebar.buttons.petition %}
    </button>
    <button class="btn btn--block btn--blue">
        {% t sidebar.buttons.representatives %}
    </button>
    <button class="btn btn--block btn--blue">
        {% t sidebar.buttons.social %}
    </button>
    <button class="btn btn--block btn--blue">
        {% t sidebar.buttons.donation %}
    </button>
</div>
<h3>{% t sidebar.learn-more.heading %}</h3>
<ul class="quicklinks">
    <li><a href="#heading-urgent">{% t sidebar.learn-more.urgent %}</a></li>
    <li><a href="#heading-about">{% t sidebar.learn-more.about %}</a></li>
    <li><a href="#heading-gap">{% t sidebar.learn-more.gap %}</a></li>
    <li><a href="#heading-nonprofit">{% t sidebar.learn-more.nonprofit %}</a></li>
    <li><a href="#heading-foundations">{% t sidebar.learn-more.foundations %}</a></li>
    <li><a href="#heading-dq">{% t sidebar.learn-more.dq %}</a></li>
    <li><a href="#heading-10pct">{% t sidebar.learn-more.10pct %}</a></li>
    <li><a href="#heading-press">{% t sidebar.learn-more.press %}</a></li>
</ul>








</ul>