<ul class="quicklinks">
    <li><a href="#heading-urgent" class="quicklink">{% t sidebar.learn-more.urgent %}</a></li>
    <li><a href="#heading-request" class="quicklink">{% t sidebar.learn-more.request %}</a></li>
    <li><a href="#heading-coalition" class="quicklink">{% t sidebar.learn-more.coalition %}</a></li>
    <li><a href="#heading-gap" class="quicklink">{% t sidebar.learn-more.gap %}</a></li>
    <li><a href="#heading-nonprofit" class="quicklink">{% t sidebar.learn-more.nonprofit %}</a></li>
    <li><a href="#heading-foundations" class="quicklink">{% t sidebar.learn-more.foundations %}</a></li>
    <li><a href="#heading-dq" class="quicklink">{% t sidebar.learn-more.dq %}</a></li>
    <li><a href="#heading-10pct" class="quicklink">{% t sidebar.learn-more.10pct %}</a></li>
    <li><a href="#heading-about" class="quicklink">{% t sidebar.learn-more.about %}</a></li>
    <li><a href="#heading-press" class="quicklink">{% t sidebar.learn-more.press %}</a></li>
</ul>
<ul id="social">
    <li>
        <a href="https://www.facebook.com/Increase-The-Grants-103438981772221"
           class="social--facebook">
            <i class="fab fa-facebook"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/increasegrants"
           class="social--twitter">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/company/increasethegrants/?viewAsMember=true"
           class="social--linkedin">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
</ul>
