<section class="content-section" id="heading-urgent">
    {% tf '01-this-is-urgent.md' %}
</section>
<section class="content-section" id="heading-about">
    {% tf '02-about-this-initiative.md' %}
</section>
<section class="content-section" id="heading-gap">
    {% tf '03-growing-charity-gap.md' %}
</section>
<section class="content-section" id="heading-nonprofit">
    {% tf '04-types-of-nonprofit-orgs.md' %}
</section>
<section class="content-section" id="heading-foundations">
    {% tf '05-foundations-and-government.md' %}
</section>
<section class="content-section" id="heading-dq">
    {% tf '06-about-disbursement-quota.md' %}
</section>
<section class="content-section" id="heading-10pct">
    {% tf '07-10-percent-dq-impact.md' %}
</section>
<section class="content-section" id="heading-press">
    {% tf '08-press-articles.md' %}
</section>