<section class="content-section" id="heading-urgent">
    {% tf '01-this-is-urgent.md' %}
</section>
<section class="content-section" id="heading-request">
    {% tf '02-a-reasonable-request.md' %}
</section>
<section class="content-section" id="heading-coalition">
    {% tf '03-coalition-of-the-caring.md' %}
</section>
<section class="content-section" id="heading-gap">
    {% tf '04-growing-charity-gap.md' %}
</section>
<section class="content-section" id="heading-nonprofit">
    {% tf '05-types-of-nonprofit-orgs.md' %}
</section>
<section class="content-section" id="heading-foundations">
    {% tf '06-foundations-and-government.md' %}
</section>
<section class="content-section" id="heading-dq">
    {% tf '07-about-disbursement-quota.md' %}
</section>
<section class="content-section" id="heading-10pct">
    {% tf '08-10-percent-dq-impact.md' %}
</section>
<section class="content-section" id="heading-about">
    {% tf '09-about-initiative.md' %}
</section>
<section class="content-section" id="heading-press">
    {% tf '10-press-articles.md' %}
</section>