#main-body
  z-index: 5
  position: relative
  .row
    margin-left: 0
    @include breakpoint($medium-wide)
      margin-left: -0.5rem

#main-content
  @include breakpoint($medium-wide)
    padding-right: 1.5em
  p, li
    text-align: justify
  .content-section
    padding: 2em 0
    position: relative
    &:nth-child(2n)
      background-color: $color-beige
      &::before, &::after
        content: ""
        position: absolute
        background-color: $color-beige
        display: block
        z-index: -1
        top: 0
        bottom: 0
      &::before
        right: 100%
        min-width: 2rem
        width: calc(50vw - min(50vw, #{$x-large / 2}) + 2rem)
      &::after
        left: 100%
        min-width: 1.5rem
        width: calc(50vw - min(50vw, #{$x-large / 2}) + 2rem)
        @include breakpoint($medium-wide)
          width: calc(50vw + min(100vw, #{$x-large}) * #{strip-unit(span(3 of 12) + gutter(3 of 12)) / 100} - min(50vw, #{$x-large / 2}) + 2.75rem)


.lang-picker
  position: absolute
  top: 2rem
  right: 2rem
  display: inline-block
  border-radius: 50%
  padding: 0.5em
  text-decoration: none
  line-height: 1.1em
  text-align: center
  font-size: 0.8em
  z-index: 999
  -webkit-transition: $global-transition
  transition: $global-transition
  background-color: lighten($color-orange, 30%)
  color: $color-orange
  &:hover
    background-color: lighten($color-blue, 50%)
    color: $color-blue

#hero
  z-index: 10
  background-color: $color-blue
  position: relative
  display: flex
  min-height: calc(100vh - 89px)
  flex-direction: column
  @include breakpoint($medium-wide)
    flex-direction: row
  @media (orientation: portrait)
    min-height: 100vw
#hero--title
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 5rem 0
  margin: 0
  background-image: url('/assets/img/leaf-blur.jpg')
  background-size: cover
  background-position: center center

#site-title
  font-size: 2.25em
  text-transform: uppercase
  margin: 0
  color: #fff
  background-color: $color-blue
  text-align: center
  padding: 0.25rem 0.5rem 0.5rem
  line-height: 0.9
  width: 333px
  @include breakpoint($medium)
    width: 375px
  @include breakpoint($large)
    width: 417px
  @include breakpoint($x-large)
    width: 458px
#site-subtitle
  font-size: 1em
  text-align: center
  margin: 0
  color: $darker-gray
  background-color: #fff
  padding-bottom: 0.25rem
  width: 333px
  @include breakpoint($medium)
    width: 375px
  @include breakpoint($large)
    width: 417px
  @include breakpoint($x-large)
    width: 458px

#hero--content
  background-color: $color-orange
  color: #fff
  padding: 1em
  font-size: 0.9em
  html[lang="fr"] &
    font-size: 0.8em
  @include breakpoint($medium-wide)
    p
      margin: 0
#hero--content-inner
  display: flex
  flex-direction: column
  justify-content: space-around
  border: 1px solid #fff
  padding: 2em 3em 1em
  height: 100%
  @include breakpoint($medium-wide)
    padding: 2em 3em 1em
.hero--callout
  text-transform: uppercase
  font-weight: bold
  text-align: center
  justify-self: end
  .fas
    display: block
    text-align: center
    font-size: 2em
    margin-top: 0.5em

#hero--banner
  background-color: $color-yellow
  text-align: center
  padding: 1em 0 0
  text-transform: uppercase
  font-weight: bold
  z-index: 10
  position: relative
  a
    padding: 0.5em
    //color: $dark-gray
    color: $darker-gray
    text-decoration: none
    font-family: $header-font-family
    &:hover
      color: $color-blue
#hero--cta
  top: 0
  position: -webkit-sticky
  position: sticky
  z-index: 99
  background-color: $color-yellow
  padding: 1em 0
  .cta-buttons
    display: flex
    align-items: stretch
    justify-content: space-between
    .btn
      margin: 0 0 0 1rem
      &:first-child
        margin: 0

#btn-toc
  padding: 0.75em 1.5em
  @include breakpoint($medium-wide)
    display: none

.paragraph--10pct
  display: flex
  align-items: start
  p
    margin-top: 0
.image--10pct
  max-width: 25%
  margin: 0.4rem 0.75rem 0 0

#action-sidebar
  position: relative
  margin-top: 2rem
  padding-right: 0
  justify-self: end
  display: none
  @include breakpoint($medium-wide)
    display: block
  .inner-sidebar
    //max-height: 100vh
    background-color: $lighter-gray
    overflow: auto
    position: -webkit-sticky
    position: sticky
    top: calc(89px + 2rem)
    padding: 1em 1em 2em
  h2
    text-align: center
    margin-bottom: 0.75em
    margin-top: 0
  h3
    color: $dark-gray
    //text-align: center
    margin-top: 0
  p
    text-align: center
    margin: 0 0 0.5em
    font-style: italic
  .cta-buttons
    margin-bottom: 1em


.quicklinks
  margin: 0
  list-style: none
  padding:  0
  font-size: 0.8em
  .quicklink
    border-left: 2px solid transparent
    color: $darker-gray
    text-decoration: none
    padding-left: 0.5rem
    display: block
    &:hover
      color: $color-blue
    &.focused
      color: $color-blue
      border-left: 2px solid $color-blue

.chartContainer
  height: 300px
  position: relative
  div
    width: auto

.canvasjs-chart-credit
  display: none

.modal-container
  display: flex
  justify-content: center
  align-items: center

.modal-content
  position: relative
  display: flex
  max-width: $medium
  flex-direction: column
  border-radius: 0.25rem
  background: #fff
  padding: 2em
  margin: 0 1em
  overflow: auto
  max-height: 95vh
  &.modal--tiny
    max-width: 280px
  &.modal--small
    max-width: $small
  &.modal--wide
    max-width: $medium-wide
  &.modal--large
    max-width: $large

.modal__close
  position: absolute
  top: 1em
  right: 1em
  border: none
  background-color: transparent
  color: $light-gray
  font-size: 1.25em
  &:hover
    color: $gray

.petition-embed
  width: 100%
  height: 70vh
  border: 1px solid #ccc

.modal--header
  text-align: center

.validation-error
  color: $danger-color
  line-height: 1.2
  margin-bottom: 0.5em

#representatives
  display: flex
  justify-content: space-around
  margin-bottom: 2em
.representative
  display: flex
  max-width: 50%
  flex-direction: column
  justify-content: space-between
  padding: 1em
  margin-right: 1.5em
  background-color: $lighter-gray
  text-align: center
  &:last-child
    margin-right: 0
.rep--content
  display: flex
  flex-direction: column
  align-items: center
  h3
    margin: 0.25em 0 0
  p
    margin: 0

.rep--image-wrap
  width: 150px
  height: 150px
  border-radius: 50%
  overflow: hidden
  background-color: $light-gray
  position: relative
  &:before
    content: "\F508"
    font-family: "Font Awesome 5 Free"
    font-weight: 900
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    font-size: 90pt
    color: $gray
  &.has-image:before
    content: ""
.rep--image
  width: 100%
  height: 100%
  background-position: center center
  background-size: cover


.rep--jurisdiction
  margin: 0.5em 0


.social-buttons
  display: flex
  justify-content: space-around
  font-size: 1.25rem
  .btn
    padding: 0.5em 1em
  .fab
    margin-right: 0.5em
    font-size: 1.5rem
    vertical-align: middle
  span
    vertical-align: middle
  .btn--facebook .fab
    color: lighten($facebook-color, 20%)
  .btn--twitter .fab
    color: darken($twitter-color, 20%)
  .btn--linkedin .fab
    color: lighten($twitter-color, 20%)


#main-footer
  background-color: $color-orange
  font-size: $type-size-6
  color: #fff
  padding-top: 0.5em
  padding-bottom: 0.5em
  text-align: center

#page-404
  min-height: calc(100vh - 95px)
  display: flex
  flex-direction: column
  justify-content: center